<h2>{% trans %}Над проектом работали{% endtrans %}</h2>
{{ project.users | raw }}

{#
<ul class="comandList">

    <li>
        <div><img height="60" width="60" src="pic/pic5.png" alt=""></div>
        <h5>арт-директор и дизайнер<span>Олег Пащенко</span></h5>
    </li>
    <li>
        <div><img height="60" width="60" src="pic/pic5.png" alt=""></div>
        <h5>арт-директор и дизайнер<span>Олег Пащенко</span></h5>
    </li>
    <li>
        <div><img height="60" width="60" src="pic/pic5.png" alt=""></div>
        <h5>арт-директор и дизайнер<span>Олег Пащенко</span></h5>
    </li>
    <li>
        <div><img height="60" width="60" src="pic/pic5.png" alt=""></div>
        <h5>арт-директор и дизайнер<span>Олег Пащенко</span></h5>
    </li>
    <li>
        <div><img height="60" width="60" src="pic/pic5.png" alt=""></div>
        <h5>арт-директор и дизайнер<span>Олег Пащенко</span></h5>
    </li>

</ul>
#}